*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;  
}

html, body{
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: linear-gradient(black, rgb(26, 2, 2));
}

.center3{ /*COLOCAR NOS OUTROS TBM*/
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 9px 0;
  text-align: center;
}

.texto{
  color: aliceblue;
  text-align: center;
}

.menu{
  padding-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu a{
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-size: bold;
  margin-right: 15px;
  user-select: none;
}


.social-media{
  position: absolute;
  color: aliceblue;
  right: 500px;
  top: 40px;
}

.social-media img{
  display: relative;
  opacity: 1; /**/
  width: 40px;
  margin: -25;
  color: aliceblue;
  padding-top: 5px;
  margin-right: 25px;
}

.horarios{
  display: flex;
  user-select: none;
}

.horarios .title{
  display: flex;
  position: absolute;
  margin-top: 140px;
  margin-left: 630px;
  color: aliceblue;
}

.horarios .p{
  position: absolute;
  margin-top: 180px;
  align-items: center;
  color: aliceblue;
}

#p1{
  margin-top: 40px;
  font-size: 30px;
  margin-left: 570px;
  font-weight: 700;
}

#p2{
  font-size: 20px;
  margin-top: 30px;
  margin-left: 630px;
  font-weight: 700;
}

h2{
  border: 10px double black;
  color: aliceblue;
  margin-top: 500px;
}