*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;  
}

.center{
  display: flex;
  flex-wrap: wrap;
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 2%;
}

html, body{
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.bg{
  background-image: linear-gradient(black, rgb(26, 2, 2));
}

.header{
  height: 200px;
  padding: 20px 0;
}

.center .menu{
  display: flex;
  padding-top: 30px;
  width: 60%;
  margin-left: 280px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.menu a{
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-size: bold;
  margin-right: 15px;
  user-select: none;
}

section.sobre{
  height: calc(100% - 200px);
  position: relative;
}

.social-media{
  position: absolute;
  color: aliceblue;
  right: 500px;
  top: 40px;
}

.social-media img{
  display: relative;
  opacity: 1; /**/
  width: 40px;
  margin: -25;
  color: aliceblue;
  padding-top: 5px;
  margin-right: 25px;
}

.logo{

  display: flex;
}
.logo-1{
  position: absolute;
  margin-left: 480;
  margin-top: 109px;
  z-index: 2;
}

.logo-2{
  position: absolute;
  margin-top: 70px;
  z-index: 1;
  margin-left: 460;
}

.logo-2 img{
  width: 550px;
}